.header img{
    border-radius: 20px;
}
nav a{
    text-decoration: none;
    font-weight: 700;
    margin: 20px;
    padding: 40px;
    color: black;
}
nav{
    background-color:#ffdc00;
    line-height: 50px;
}